.social_links {
	padding-left: 0;
	font-size: 1.2em;
	margin: 0;
	margin-top: 5px;

	li {
		display: inline-block;
		margin-right: 12px;
	}

	li:last-child {
		margin-right: 0;
	}

	a {
		color: $white;
		background: $blue;
		display: block;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 50%;
		transition: opacity 0.15s ease-in-out;

		&:hover {
			opacity: 0.75;
		}
	}
}